* { /* listo */
    box-sizing: border-box;
}

body { /* listo */
    background-color: rgb(32,50,103);
}

header{ /* listo */
    background-image: url(../IMG/background.png);
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{ /* listo */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    margin: 10px;
}

h1{ /* listo */
    color:#F7D69D;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

ul{ /* listo */
    list-style: none;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(66,63,114);
    margin: 0px;
}

a:link{ /* listo */
    text-decoration: none;
    color: white;
}

a:visited{ /* listo */
    text-decoration: none;
    color: white;
}

li{ /* listo */
    margin: 20px 60px;
    font-size: medium;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

input{ /* listo */
    font-family: Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(90, 87, 136);
    border: 3px solid rgb(90, 87, 136);
    margin: 5px;    
}

::placeholder{ /* listo */
    color: white;
}

h2{ /* listo */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding: 20px 0px;
}

.detalles{ /* listo */ /* agregado */ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 0px;
    padding: 20px;
}

.topImage { /* listo */ /* agregado */
    width: 100%;
}

.contenedorPadre { /* listo */ /* agregado */
    background-color: rgb(162,83,123);
    padding-bottom: 20px;
}

.divDetalles  { /* listo */ /* agregado */
    flex-direction: row; 
    flex-wrap: wrap;
    display: flex;
}

.clasificaciones { /* listo */ /* agregado */
    flex-direction: column;
    align-items: center;
}

.icons { /* listo */ /* agregado */
    width: 30px;
    justify-content: center;
}

.subSection { /* listo */ /* agregado */
    background-color: #F7D69D;
    margin: 40px 200px;
    flex-wrap: wrap;
    display: flex;
    border-radius: 20px;
}

.row { /* listo */ /* agregado */
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row1 { /* listo */ /* agregado */
    flex-direction: row;
    justify-content: flex-end;
}

.box1 { /* listo */ /* agregado */
    width: 50%;
    justify-content: center;
    display: flex;
}

.box2 { /* listo */ /* agregado */
    width: 50%;
    display: flex;
    text-align: end;
    flex-direction: column;
    flex-wrap: wrap;
}

.p1 { /* listo */ /* agregado */
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    margin: 10px;
}

.tituloFilm { /* listo */ /* agregado */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 87, 136);
    font-size:large;
    font-weight: 600;
    text-decoration: underline;
    margin: 10px;
}

.subTitulo { /* listo */ /* agregado */
    color: rgb(90, 87, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{ /* listo */
    list-style: none;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0px;
}

a:link{ /* listo */
    text-decoration: none;
    color: white;
}

a:visited{ /* listo */
    text-decoration: none;
    color: white;
}

li{ /* listo */
    margin: 20px 60px;
    font-size: medium;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

.generoTamano { /* listo */ /* agregado */
    font-size: small;
}

.generosPelicula {
    background-color: rgb(66,63,114);
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer {
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h4{
    margin: 20px 30px;
}