* {
    box-sizing: border-box;
}

body {
    background-color: rgb(32,50,103);
}

header{
    background-image: url(../IMG/background.png);
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    margin: 10px;
}

h1{
    color:#F7D69D;
    font-family: 'Teko', sans-serif;
    font-size:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

ul{
    list-style: none;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(66,63,114);
    margin: 0px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

li{
    margin: 20px 60px;
    font-size: medium;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,50,103);
    color: white;
    margin: 0px;
    padding: 20px;
}

input{
    font-family: Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(90, 87, 136);
    border: 3px solid rgb(90, 87, 136);
    margin: 5px;    
}

::placeholder{
    color: white;
}

h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding-top: 20px;
}

h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 0px;
    padding: 20px;
}

img {
    width: 100%;
}

.contenedorPadre {
    background-color: rgb(162,83,123);
    padding-bottom: 20px;
}

div {
    flex-direction: row; 
    flex-wrap: wrap;
    display: flex;
}

article {
    flex-direction: column;
}

.icons {
    width: 30px;
    justify-content: center;
}

.subSection {
    background-color: #F7D69D;
    margin: 40px 200px;
    flex-wrap: wrap;
    display: flex;
    border-radius: 20px;

}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row1 {
    flex-direction: row;
    justify-content: flex-end;
}

.box1 {
    width: 50%;
    justify-content: center;
    display: flex;
}

.box2 {
    width: 50%;
    display: flex;
    text-align: end;
    flex-direction: column;
    flex-wrap: wrap;
}

p {
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    margin: 10px;

}

.tituloFilm {
    color: rgb(90, 87, 136);
    font-size:large;
    font-weight: 600;
    text-decoration: underline;
}

.subTitulo {
    color: rgb(90, 87, 136);
}

ul{
    list-style: none;
    padding: 5px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

li{
    margin: 20px 60px;
    font-size: small;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

.generosPelicula {
    background-color: rgb(66,63,114);
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer {
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h4{
    margin: 20px 30px;
}