*{ box-sizing: border-box;}

body{
    background-color: rgb(32,50,103);
}

header{
    background-image: url(../IMG/background.png);
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    margin: 10px;
}

h1{
    color:#F7D69D;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'Work Sans', sans-serif;
    font-size:100px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

.generos_both{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.generos_movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
}

.generos_series{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;

}

a:link{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: rgb(162,83,123);
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}


li{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    justify-content: center;
    background-color: rgb(90, 87, 136);
    margin-bottom: 30px;

}

h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 0px;
    padding: 20px;
}

h4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 0px;
}

.h4mensaje{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #F7D69D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 0px;
}

footer{
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nombres{
    margin: 20px 30px;
}