*{ 
    box-sizing: border-box;
}

body{
    background-color: rgb(32,50,103);
}

header{
    background-image: url(../IMG/background.png);
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    margin: 10px;
}

h1{
    color:#F7D69D;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

<<<<<<< HEAD
=======
/* NAVEGACION PRINCIPAL */

>>>>>>> 607bdb7163ceb1d5c1725299ed98596b1973813f
ul{
    list-style: none;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(66,63,114);
    margin: 0px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

li{
    margin: 20px 60px;
    font-size: medium;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

/* BUSCADOR */

.busqueda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,50,103);
    color: white;
    margin: 0px;
    padding: 20px;
}

input{
    font-family: Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(90, 87, 136);
    border: 3px solid rgb(90, 87, 136);
    margin: 5px;    
}

::placeholder{
    color: white;
}

<<<<<<< HEAD
=======
/* TITULOS INDEX Y GENEROS */

>>>>>>> 607bdb7163ceb1d5c1725299ed98596b1973813f
h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding-top: 20px;
}

h3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding: 20px 0px
}

h4{
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    flex-direction: column;
    border: 10px solid #F7D69D;
    background-color: #F7D69D;
    margin: 0px 5px;
    max-width: 220px;
    
}

.peliFoto{
    max-width: 300px;
    max-height: 300px;
    border: 2px solid gray;
}

.peliInfoFav{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 5px solid gray;
}

.peliInfo{
    width: 60%;
    justify-content: center;
    display: flex;
    border: 5px solid gray;
    flex-direction: column;
}

.peliFav{
    width: 40%;
    display: flex;
    text-align: end;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid gray;
}

.peliFav img{
    display: flex;
    width: 40%;
=======
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 10px 0px;
>>>>>>> 607bdb7163ceb1d5c1725299ed98596b1973813f
}


h5{
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    text-align: left;
<<<<<<< HEAD
=======
    margin: 10px 5px;
>>>>>>> 607bdb7163ceb1d5c1725299ed98596b1973813f
}

h6{
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
<<<<<<< HEAD
=======
    margin: 10px 5px;

}


/* INDEX DE PELICULAS */

.home_movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 10px solid #F7D69D;
    background-color: #F7D69D;
    margin: 0px 5px;
    width: 220px;
    height: 450px;
    
>>>>>>> 607bdb7163ceb1d5c1725299ed98596b1973813f
}

img{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 300px;
    justify-content: space-around;
}

<<<<<<< HEAD
=======
.favorite{
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    margin: 0px;
}

/* GENERO */

.generos_both{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.generos_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
}

.generos_list ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: rgb(162,83,123);
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.generos_list li{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    justify-content: center;
    background-color: rgb(90, 87, 136);
    margin-bottom: 30px;
    width: 400px;
}

/* DETALLES GENEROS */

.detalles_generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

.generoarticulos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 10px solid #F7D69D;
    background-color: #F7D69D;
    margin: 0px;
}

.generotitulos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 87, 136);
    width: 500px;
    margin: 20px;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
}

p{
    font-size: small;
    text-align: center;
    width: 900px;
    font-style: italic;
    font-size: medium;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* FOOTER */

>>>>>>> 607bdb7163ceb1d5c1725299ed98596b1973813f
footer{
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nombres {
    margin: 20px 30px;
}