*{ 
    box-sizing: border-box;
}

body{
    background-color: rgb(32,50,103);
}

header{
    background-image: url(../IMG/background.png);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.header1{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    margin: 30px;
}

nav{
    width: 100%;
}

h1{
    color:#F7D69D;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
    justify-content: flex-end;
    margin: 30px;
}

/* NAVEGACION PRINCIPAL */

ul{
    list-style: none;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(66,63,114);
    margin: 0px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

li{
    margin: 20px 60px;
    font-size: medium;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

/* BUSCADOR */

.busqueda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,50,103);
    color: white;
    margin: 0px;
    padding: 20px;
}

input{
    font-family: Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(90, 87, 136);
    border: 3px solid rgb(90, 87, 136);
    margin: 5px;    
}

::placeholder{
    color: white;
}

/* TITULOS INDEX Y GENEROS */

h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding: 20px 0px;
}

h3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding-top: 20px;
}

h4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 10px 0px;
}


h5{
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    text-align: left;
    margin: 10px 5px;
}

h6{
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    margin: 10px 5px;

}

/* INDEX DE PELICULAS */

.contenedorPelis{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: rgb(162,83,123);
    color: white;
    padding: 20px 30px;
}


#claseSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: rgb(162,83,123);
    color: white;
    padding: 20px 30px;
}

#claseArticle {
    background-color: #F7D69D;
    height: 400px;
    width: 200px;
    margin-bottom: 10px;
    margin: 5px;
}

section article img{
    width: 200px;
    height: 320px;
}

.favorite{
    width: 30px;
    height: 25px;
    margin: 0px;
}

/* GENERO */

.generos_both{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 0px;
}

.generos_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
}

.generos_list ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: rgb(162,83,123);
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.generos_list li{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    justify-content: center;
    background-color: rgb(90, 87, 136);
    margin-bottom: 30px;
    width: 400px;
}

/* DETALLES GENEROS */

.detalles_generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

p{
    font-size: small;
    text-align: center;
    justify-content: center;

    font-style: italic;
    font-size: medium;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* DETALLES PELICULAS Y SERIES */

.detalles{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 0px;
    padding: 20px;
    background-color: rgb(32,50,103);
}

.topImage {
    max-width: 100%;
    max-height: fit-content;
}

.sectionFilm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.portadaFilm{
    width: 200px;
    background-color: #F7D69D;
    margin-top: 20px;
}

.contenedorPadre {
    background-color: rgb(162,83,123);
    padding-bottom: 20px;
    flex-direction: row;
}

.divDetalles  {
    flex-direction: row; 
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.calificaciones {
    flex-direction: column;
    align-items: center;
    height: 60px;
    width: 50px;
    border: 0px;
    margin: 0px;
}

.icons {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.popcorn{
    width: 29px;
}

.verde{
    width: 32px;
}

.subSection {
    background-color: #F7D69D;
    margin: 40px 200px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 0px;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row1 {
    flex-direction: row;
    width: 160px;
    border: 0px;
    margin: 0px;
    justify-content: center;
}

.box1 {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 80px;
    flex-wrap: wrap;
}

.box2 {
    width: 50%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.p1 {
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    margin: 10px;
    font-style: normal;
    text-align: start;
}

.p2{
    width: 130px;
}

.tituloFilm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 87, 136);
    font-size:large;
    font-weight: 600;
    text-decoration: underline;
    margin: 10px;
    font-style: normal;
    text-align: start;
}

.subTitulo {
    color: rgb(90, 87, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.generosPelicula {
    background-color: rgb(66,63,114);
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.generoTamano {
    font-size: small;
}

.abajo{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,50,103);
    color: white;
    margin: 0px;
    padding: 20px;
}

iframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.corazon{
    border: none;
}

.corazon img{
    width: 30px;
}

/* FOOTER */

footer{
    height: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(32,50,103);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nombres {
    margin: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}


/* MEDIA QUERIES */

@media (max-width: 420px) {
    .header1{
        flex-direction: column;
        margin: 0px;
        align-items: center;
    }
    
    .logo{
        margin: 10px;
    }

    h1{
        font-size: 45px;
        margin: 0px 10px;
    }

    .subSection{
        margin: 10px;
    }

    iframe{
        width: auto;
        justify-content: center;
    }

    .contenedorPadre{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .generos_both{
        width: 404px;
    }

    .generos_list{
        padding: 0px;
    }

    .generos_list li{
        width: 200px;
    }

    .generos_list ul{
        width: 404px;
    }

    h3 {
        width: 404px;
    }

    h2{
        width: 404px;
        text-align: center;
    }

    .detalles_generos{
        width: 404px;
        padding: 0px;
    }

    .contenedorPelis{
        width: 404px;
    }

    .detalles_generos p{
        margin: 5px;
    }

    footer{
        align-items: center;
    }

    










}
