*{ 
    box-sizing: border-box;
}

body{
    background-color: rgb(32,50,103);
}

header{
    background-image: url(../IMG/background.png);
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    margin: 10px;
}

h1{
    color:#F7D69D;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

/* NAVEGACION PRINCIPAL */

ul{
    list-style: none;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(66,63,114);
    margin: 0px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

li{
    margin: 20px 60px;
    font-size: medium;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

/* BUSCADOR */

.busqueda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,50,103);
    color: white;
    margin: 0px;
    padding: 20px;
}

input{
    font-family: Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(90, 87, 136);
    border: 3px solid rgb(90, 87, 136);
    margin: 5px;    
}

::placeholder{
    color: white;
}

/* TITULOS INDEX Y GENEROS */

h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding: 20px 0px;
}

h3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding-top: 20px;
}

h4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 10px 0px;
}


h5{
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    text-align: left;
    margin: 10px 5px;
}

h6{
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    margin: 10px 5px;

}

/* INDEX DE PELICULAS */

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

article {
    flex-direction: row;
    border: 10px solid #F7D69D;
    background-color: #F7D69D;
    margin: 0px 5px;
    width: 220px;
    height: 400px;
}

img{
    max-width: 300px;
    max-height: 300px;
    justify-content: space-around;
}

.favorite{
    width: 30px;
    height: 25 px;
    margin: 0px;
    justify-content: space-around;
}

/* GENERO */

.generos_both{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.generos_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
}

.generos_list ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: rgb(162,83,123);
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.generos_list li{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    justify-content: center;
    background-color: rgb(90, 87, 136);
    margin-bottom: 30px;
    width: 400px;
}

/* DETALLES GENEROS */

.detalles_generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

p{
    font-size: small;
    text-align: center;
    justify-content: center;
    width: 800px;
    font-style: italic;
    font-size: medium;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* DETALLES PELICULAS Y SERIES */

.detalles{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 0px;
    padding: 20px;
    background-color: rgb(32,50,103);
}

.topImage {
    max-width: 100%;
    max-height: fit-content;
}

.contenedorPadre {
    background-color: rgb(162,83,123);
    padding-bottom: 20px;
}

.divDetalles  {
    flex-direction: row; 
    flex-wrap: wrap;
    display: flex;
}

.calificaciones {
    flex-direction: column;
    align-items: center;
    height: 60px;
    width: 50px;
    border: 0px;
    margin: 0px;
}

.icons {
    width: 40px;
    justify-content: center;
    align-items: center;
}

.popcorn{
    width: 29px;
}

.subSection {
    background-color: #F7D69D;
    margin: 40px 200px;
    flex-wrap: wrap;
    display: flex;
    border-radius: 20px;
    padding: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row1 {
    flex-direction: row;
    width: 160px;
    justify-content: flex-end;
    border: 0px;
    margin: 0px;
}

.box1 {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 80px;
    flex-wrap: wrap;
}

.box2 {
    width: 50%;
    flex-direction: column;
    display: flex;
    text-align: end;
    flex-wrap: wrap;
}

.p1 {
    color: rgb(162,83,123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    margin: 10px;
    font-style: normal;
    text-align: start;
}

.tituloFilm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 87, 136);
    font-size:large;
    font-weight: 600;
    text-decoration: underline;
    margin: 10px;
    font-style: normal;
    text-align: start;
}

.subTitulo {
    color: rgb(90, 87, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.generosPelicula {
    background-color: rgb(66,63,114);
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.generoTamano {
    font-size: small;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,50,103);
    color: white;
    margin: 0px;
    padding: 20px;
}

/* FOOTER */

footer{
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(32,50,103);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nombres {
    margin: 20px 30px;
}

/* MEDIA QUERIES */

@media (max-width: 320px) {














    
}
