*{ box-sizing: border-box;}

body{
    background-color: rgb(32,50,103);
}

header{
    background-image: url(../IMG/background.png);
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    margin: 10px;
}

h1{
    color:#F7D69D;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'Work Sans', sans-serif;
    font-size:100px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

ul{
    list-style: none;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(66,63,114);
    margin: 0px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

li{
    margin: 20px 60px;
    font-size: medium;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 30px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,50,103);
    color: white;
    margin: 0px;
    padding: 20px;
}

input{
    font-family: Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(90, 87, 136);
    border: 3px solid rgb(90, 87, 136);
    margin: 5px;
    
}

::placeholder{
    color: white;
}

h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
    margin: 0px;
    padding: 20px;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(162,83,123);
    color: white;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img{
    max-width: 300px;
    max-height: 350px;
    justify-content: space-around;
}

footer{
    
}
